html {
	// https://stackoverflow.com/questions/17555682/height-100-or-min-height-100-for-html-and-body-elements
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: $body-bg;
	color: $body-color;
	font-size: $font-size-md;
	font-family: $font-family-base;
    line-height: $line-height-md;
    font-weight: $font-weight-bolder;
}

nav {
	background-color: $body-bg;
}

#content {
    flex: 1;
}

footer {
	background-color: $footer-bg;
	color: $footer-color;
}

.footer-banner{
    background: linear-gradient(0deg, $green-600 0%, 
                                            $green-800 100%);
    color : $base;
    &-title{
        font-size: $h4-font-size;
        text-align: center;
        font-weight: $font-weight-bolder;
        padding-bottom: $padding-lg;
    }
}
.banner{
    color : $base;
    background-color: $black-700;
}

.container-fluid {
	max-width: 100%;
}

.container-lg {
	max-width: $container-width-lg;
	margin: auto;
}

.container-md {
	max-width: $container-width-md;
	margin: auto;
}

.container-sm {
	max-width: $container-width-sm;
	margin: auto;
}

.pure-g{
    padding : $gutter-v $side-gutter;
}
.pure-g [class *= "pure-u"]{
    padding : 0 $gutter;
}


ul.share-buttons {
	list-style: none;
	padding: 0;
}

ul.share-buttons li {
	display: inline-block;
	margin-right: 5px;
}

ul.share-buttons .sr-only {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

ul.share-buttons img {
	width: 40px;
}

