.navMenu{
    @extend %ul--liInline;
    line-height: 48px;
    color      : $primary;
    background-color: $body-bg;
    
}

.navMenu__item{
    position: relative;
    word-break: keep-all;
    white-space: nowrap;
}
.navMenu__item__link{
    @extend %a__block;
    padding : 0 $padding-md;
}

.navMenu__item__focusBar--h{
    display: block;
    position: absolute;
    bottom: 0;
    left  : 0;
    width  : 100%;
    border-bottom : 3px solid $primary;
    visibility: hidden;
}

.navMenu__children{
    display : block;
    position: absolute;
    top     : 100%;
    left    : 0;
    min-width   : 100%;
    background-color: $body-bg;
    visibility: hidden;
    overflow: hidden;
    z-index : 5;
}

.navMenu__item__focusBar--v{
    display: block;
    position: absolute;
    top: 0;
    left  : 0;
    height : 100%;
    border-right : 3px solid $primary;
    visibility: hidden;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMenu--mobile{
    display: none;
    @include phone{
        display: none;
        width: 100%;
        li{
            display: block; // or a strange blank will appear when slideDown
        }

        .navMenu__item{
            width: 100%;
        }
        .navMenu__children{
            display: none;
            position: static;
            color   : $body-color;
            visibility: visible;
        }
        .navMenu__item__focusBar--h,
        .navMenu__item__focusBar--v{
            display : none;
        }
    }
}

.navMenu--mobile--active{
    display: none !important;
    @include phone{
        display: block !important;
    }
}